body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #222;
}


header {
    background-color: #1c1f2a;

    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2e3047;
    border-radius: 5px;
}


main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}


main>h1 {
    text-align: center;
    margin-bottom: 2rem;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

figure {
    margin: 0;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}

figcaption {
    margin-top: 0.5rem;
    color: #1c1f2a;
    font-style: italic;
}


footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1c1f2a;
    color: white;
    font-size: 0.9rem;
    margin-top: 3rem;
}



#hamburger-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

nav ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 4rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul.show {
    display: flex;
}

@media (min-width: 768px) {
    #hamburger-btn {
        display: none;
    }

    nav ul {
        display: flex !important;
        position: static;
        flex-direction: row;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
}

figure h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #2a2a2a;
}

figure p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: #444;
}