@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }

    .weather h2::after {
        content: " ⛅";
        font-size: 1.5rem;
    }

    .weather-icon {
        display: none;
    }
}