:root {
    --primary-color: #4997D0;
    /* Azul de la bandera de Guatemala */
    --secondary-color: #FFFFFF;
    /* Blanco */
    --accent-color: #1D5C1F;
    /* Verde similar al de Petén */
    --text-color: #333333;
    --background-color: #f5f5f5;
    --border-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    padding: 1rem;
    background-color: #1D5C1F;
    /* Verde Petén */
    color: white;
    border-radius: 8px;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 15px;
    position: relative;
}

picture,
img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.data-section,
.weather-section {
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-left: 5px solid #4997D0;
    /* Borde azul */
}
.data-grid,
.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.weather-icon {
    font-size: 1.5rem;
    vertical-align: middle;
}

.mobile-weather-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: var(--text-color);
    font-size: 0.9rem;
}

/* Media Query para pantallas más grandes */
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .weather-icon {
        display: inline-block;
        margin-left: 10px;
    }

    .mobile-weather-icon {
        display: none;
    }

    .data-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {

    picture,
    img {
        max-height: 300px;
        object-fit: cover;
    }

    .data-grid {
        grid-template-columns: 1fr;
    }
}