@media (min-width: 768px) {

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    nav ul li {
        margin: 0;
    }

    header {
        flex-wrap: nowrap;
    }

    
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
    }
}